.idea
__pycache__
features_new
features_binary
p1 features
sheep.pkl
statue.pkl
tiger.pkl
tower.pkl
train.pkl
whale.pkl
zebra.pkl
pca.pkl
dataarrays.pkl
set.pkl
SVM.pkl
test_features.pkl
test_features_answer.pkl